<% if notice %>
  <div id="notice_wrapper">
    <p class="notice"><%= notice %></p>
  </div>

<% end %>

<h1>Califique nuestro servicio:</h1>
<h2>Rate our service:</h2>

<%= render 'form', survey: @survey %>
<%= image_tag ("/images/logo-transvip.jpg"), class: 'logo' %>
