// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submit_emoticon {
  border-radius: 50%;
  width: 19%;
}

#notice_wrapper {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  width: 100%;
  z-index: 999;
  background: #006BBA;
  opacity: 0.9;

  .notice {
    padding: 2.5rem 0;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1px;
  }
}

h1 {
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
  font-size: 400%;
  color: #006BBA;
}

h2 {
  text-align: center;
  margin-bottom: 10%;
  margin-bottom: 10%;
  font-weight: bold;
  font-size: 300%;
  color: #006BBA;
}

#first_emoticon {
  margin-left: 1%;
  // background:url(/images/emoticons/very_good.jpg) no-repeat;
}

#last_emoticon {
  margin-right: 1%;
  // background:url(/images/emoticons/very_good.jpg) no-repeat;
}

.logo {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}
// .submit_emoticon {
//   border-radius: 50%;
//   width: 150px;
//   height: 150px;
//   margin: 1%;
//   margin-top: 20%;
// }
// input[type="submit"]
// {
//   background:url(/images/emoticons/very_bad.png);
// }
//background:url(./images/but2.png) no-repeat;
