// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submit_emoticon {
  border-radius: 50%;
  width: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 2%;
  user-drag: none; 
  user-select: none;
  -webkit-user-drag: none;
}

#notice_wrapper {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #006BBA;
  opacity: 0.9;

  .notice {
    padding: 2.5rem 0;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1px;

    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 400%;
  color: #006BBA;
  margin-top: 5%;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 300%;
  color: #006BBA;
}

#first_emoticon {
  margin-left: 8%;
  // background:url(/images/emoticons/very_good.jpg) no-repeat;
}

#last_emoticon {
  margin-right: 1%;
  // background:url(/images/emoticons/very_good.jpg) no-repeat;
}

.logo {
  user-drag: none; 
  user-select: none;
  -webkit-user-drag: none;
  width: 40%;
  margin-left: 30%;
}
@media screen and (max-width: 1024px) {
  .submit_emoticon {
    border-radius: 50%;
    width: 17%;
  }

  #notice_wrapper {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #006BBA;
    opacity: 0.9;

    .notice {
      padding: 2.5rem 0;
      text-align: center;
      margin: 0;
      font-size: 2rem;
      font-weight: 700;
      color: #FFFFFF;
      letter-spacing: 1px;

      position: absolute;
      width: 100%;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  h1 {
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    font-size: 400%;
    color: #006BBA;
  }

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    color: #006BBA;
  }

  #first_emoticon {
    margin-left: 3%;
    // background:url(/images/emoticons/very_good.jpg) no-repeat;
  }

  #last_emoticon {
    margin-right: 1%;
    // background:url(/images/emoticons/very_good.jpg) no-repeat;
  }

  .logo {
    width: 50%;
    margin-left: 25%;
  }
}
